body {
	box-sizing: border-box;
}

.navbar-collapse {
	background-color: #339966;
}

/* .jumbotron {
	background-image: url(food.jpg);
	background-size: 100%;
	background-repeat: none;
	align-content: center;
} */
.jumbotron {
	background-image: url(../images/Beer-Taps-2.jpg);
	background-size: 100%;
	background-repeat: none;
}

.jumbotron .container {
    width: fit-content;
    padding: 10px 30px;
    margin: 10px;
    background-color: white;
    position: relative;
	top: -60px;
	left: 35%;
    text-align: center;
}

#find-beer {
	margin-top: 10px;
}